@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;

}
body{
    background-color: #11188d;
    font-family: 'Mukta', sans-serif;

}
.row{
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;


}
.col-3{
    width: 25%;
    padding: 0 15px;
}
img{
    max-width: 100%;
}
.header{
    background-color: #426fe0;
}
.header-desc{
    color: white;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 400;


}
.header-desc input{
    color: black;

}
.logo-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.header-social{
    padding: 10px;
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}
.hero-caption{
    font-weight: 500;
    font-size: 38px ;
}
.paypal-social{
    width: 130px;
    height: 40px;
}
.hero-desc{
   text-align: center;
   font-size: 20px;
   font-weight: 400;
    padding: 25px 10px;

}
.line{
    background-color: white;
    width: 1110px;
    height: 1px;
    text-align: center;
    margin:  30px ;
}
.line-info{
    background-color: yellow;
    width: 1170px;
    height: 1px;
    margin: 30px 0;

}
.meal-caption{
    font-size: 24px;
    padding: 10px;
    font-weight: 400;
    text-align: center;

}
.meal-desc  {
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 3px 0 10px;
}
.meal-desc a{
    list-style-type: none;
    text-decoration: none;
    text-transform: none;

}
.img-mealInfo{
    max-width:  450px;

}
.col-5{
    width: 48.99999%;
    padding: 0 -15px;
    flex-wrap: wrap;



}
.ingredient-img{
    max-width: 100px;

}
.mealInfo-title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 26px;
}
.ingredient-caption{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 26px;
}
.ingredient-title{
    text-align: center;
    padding: 5px 15px;


}
.ingredients-name{
 font-size: 18px;


}

.col-4{
    max-width: 25%;
    display: contents;
}

.instruction-info{
    font-size: 30px;
    font-weight: 500;
    margin-left: 452px;


}

.instruction-desc{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0 70px;
}

.footer{
    margin-top: 50px;
    padding: 30px 0;
    background-color: #426fe0;
}
.row-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.col-4-footer{
    display: flex;
    justify-content: space-between;

}
.footer-desc{
    font-size: 18px;

}
.col-4-footer-desc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-4-footer-img{
    display: flex;
    justify-content: space-between;
}

.col-4-footer-contact{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 110px;
}
.footer-about{
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}
.footer-faq{
    margin: 5px;
    font-size: 18px;
    font-weight: 400;
}
.footer-contact{
   margin: 5px;
    font-size: 18px;
    font-weight: 400;
}
.footer-info-title {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

.footer-info-desc{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}


.about-img{
  text-align: center;
    margin-left: 460px;
    margin-bottom: 20px;

}
.faq-title{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 15px 0;
}
.faq-desc{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.faq-img{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 520px;

}

.contact-title{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 15px 0;
}
.contact-desc{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.contact-link{
   margin: 49px;

}

.official-link-caption{
   font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 30px;
}

.official-link{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.browse-caption{
    font-size: 20px;
    font-weight: 400;

}
.row.browse{
    margin-top: 50px;
}

.browse-title{
  font-size: 24px;
  font-weight: 400;
   text-align: center;
    margin-top: 20px;


}
.browse-navigation{
    font-size: 24px;
    font-weight: 400;
    padding: 5px;
    text-align: center;

}



